.gm-style-iw-d {
  padding: 5 !important;
  margin: 5 !important;
}

/* style a component with two classnames (e.g. .gm-style-iw-d .gm-style-iw-c) */

.gm-style-iw-c {
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  /* don't transform */
}

.gm-style-iw-d {
  padding: 0;
  margin: 0;
  display: flex !important;
}

.gm-ui-hover-effect {
  right: -11 !important;
  display: none !important;
}
